<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인페이지</title>
</head>
<body>
<script th:inline="javascript">
    const msg = [[${msg}]];

    if (msg) {
        alert(msg);
    }
</script>
<a href="/member/signup">회원가입</a>
<div th:if="${session.user_name != null}">
    <span th:text="${session.user_name}"></span>님 환영합니다.
    <a href="/member/logout">로그아웃</a>
    <a href="/member/detail">마이페이지</a>
</div>

<div th:unless="${session.loginUser != null}">
    <a href="/member/login">로그인</a>
</div>
</body>
</html>